<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hexd.hexd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity2">
            <intent-filter>
                <action android:name="com.hexd.hexd.MainActivity2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity3">
            <intent-filter>
                <action android:name="com.hexd.hexd.MainActivity3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".HexdMainPage">
            <intent-filter>
                <action android:name="com.hexd.hexd.HexdMainPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fourthscreen"
            android:label="@string/title_activity_fourthscreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fifthscreen"
            android:label="@string/title_activity_fifthscreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sixthscreen"
            android:label="@string/title_activity_sixthscreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gardener"
            android:label="@string/title_activity_gardener"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cleaner"
            android:label="@string/title_activity_cleaner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".technician"
            android:label="@string/title_activity_technician"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".carpenter"
            android:label="@string/title_activity_carpenter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StatisticsMap"
            android:label="@string/title_activity_statistics_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".otherpage"
            android:label="@string/title_activity_otherpage"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>